.Container {
  text-align: center;
  font-size: 1.5rem;
}

ul {
  padding: 0;
  margin: 2rem auto;
  width: 20rem;
  list-style-type: none;
}

ul li {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid lightblue;
}

ul li:hover {
  cursor: pointer;
  background-color: lightgrey;
}

img {
  border-radius: 50%;
}

.card {
  width: 450px;
  margin: 0 auto;
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #81ecec;
  margin-top: 20px;
  height: 230px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
}

.getUser-btn {
  padding: 0.5rem;
  font-size: 1.5rem;
}

.top {
  border-radius: 25px 25px 0 0;
  height: 100px;
  width: 100%;
  background-color: #00cec9;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.name {
  font-size: 1.4em;
  color: #2d3436;
  display: flex;
  flex: 1;
  margin: 10% 20px 0;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 130px;
  height: 130px;
  margin-top: 10px;
  margin-right: 10px;
}

.bottom {
  margin-top: 120px;
  margin-right: 120px;
}

.info {
  margin: 20px 0;
  color: #1a7e76;
}
